@page
@model WebApplication2.Pages.dashboardModel
@{
}

<h1> Product List</h1>
<div> 
    <table>
        <tr>
            <th>product_ID</th>
            <th>product_Name</th>
            <th>price</th>
            <th>Quantity</th>
        </tr>
        @foreach(var product in Model.Products)
        {
            <tr>
                <td>@product.product_Id</td>
                <td>@product.product_name</td>
                <td>@product.price</td>
                <td>@product.quantity</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="id" asp-for="@Model.id" value="@product.product_Id" />
                        <input type="submit" value="delete"/>
                        </form>
                 </td>
             </tr>
        }

    </table>
    <a class="btn btn-primary" asp-area="" asp-page="/product_add" type="" >Add product</a>
    
</div>